body {
    margin: 0;
}

.super {
    position: relative;
}

.super .play {
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #000000AF;
}

.play {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-img {
    width: 16vw;
    height: 29.5vw;
    background: url(media/eating.png);
    background-size: cover;
}

.play-img:hover {
    width: 16vw;
    height: 32.5vw;
    background: url(media/wa.png);
    background-size: cover;
}

@keyframes fadeout-play {
    0% {
        background-color: #000000AF;
    }
    100% {
        background-color: #00000000;
    }
}

@keyframes fadeout-play-img {
    0% {
        opacity: 1;
        width: 16vw;
        height: 31.5vw;
        background: url(media/happy.png);
        background-size: cover;
    }
    100% {
        opacity: 0;
        width: 16vw;
        height: 31.5vw;
        background: url(media/happy.png);
        background-size: cover;
    }
}

@media (min-aspect-ratio: 1) {
    .container {
        margin-left: 33%;
        flex-direction: column;
        justify-content: center;
    }
    
    .img {
        width: 33vw;
        height: 26vw;
        background-size: cover;
    }
}

@media (max-aspect-ratio: 1) {
    .container {
        margin-left: 20vw;
        flex-direction: column;
        justify-content: center;
    }
    
    .img {
        width: 60vw;
        height: 48vw;
        background-size: cover;
    }

    .play-img {
        width: 25vw;
        height: 47vw;
        background: url(media/eating.png);
        background-size: cover;
    }
    
    .play-img:hover {
        width: 25vw;
        height: 51vw;
        background: url(media/wa.png);
        background-size: cover;
    }

    @keyframes fadeout-play-img {
        0% {
            opacity: 1;
            width: 26vw;
            height: 51vw;
            background: url(media/happy.png);
            background-size: cover;
        }
        100% {
            opacity: 0;
            width: 26vw;
            height: 51vw;
            background: url(media/happy.png);
            background-size: cover;
        }
    }
}