body {
    margin: 0;
}

.super {
    position: relative;
}

.super .play {
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #000000AF;
}

.play {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-img {
    width: 15vw;
    height: 25vw;
    background: url(media/eating.png);
    background-size: cover;
}

.play-img:hover {
    width: 17vw;
    height: 30vw;
    background: url(media/wa.png);
    background-size: cover;
}

@keyframes fadeout-play {
    0% {
        background-color: #000000AF;
    }
    100% {
        background-color: #00000000;
    }
}

@keyframes fadeout-play-img {
    0% {
        opacity: 1;
        width: 17vw;
        height: 30vw;
        background: url(media/happy.png);
        background-size: cover;
    }
    100% {
        opacity: 0;
    }
}

.container {
    margin-left: 33%;
    flex-direction: column;
    justify-content: center;
}

.img {
    width: 33vw;
    height: 26vw;
    background-size: cover;
}